.randomNumber {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      transform: scale(0.95);
      border: 5px solid pink;
    }
  
    70% {
      box-shadow: 0 0 0 px2rem(10) rgba(0, 0, 0, 0);
      transform: scale(1.2);
      border: 8px solid #0066cc;
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      transform: scale(0.95);
      border: 1px solid silver;
    }
  }