.list {
    min-width: 100px;
    min-height: 120px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 0.9rem;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 0.75rem;
}

.line {
    color: rgb(253, 9, 9);
    font-size: 0.75rem;
}

.bingo {
    color: rgb(6, 236, 6);
    font-size: 0.9rem;
}

.avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

@media (max-width: 700px) {
    .avatar {
      width: 24px;
      height: 24px;
    }

    .list {
        border-radius: 10px;
        margin: 5px 0;
        padding: 5px 2px;
    }

    .title {
        font-size: 12px;
    }

    .element {
        gap: 4px;
        font-size: 10px;
    }
    .line {
        font-size: 10px;
    }

    .bingo {
        color: rgb(6, 236, 6);
        font-size: 12px;
    }
  }