@import url(https://fonts.googleapis.com/css?family=Righteous);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  margin: 0 5%;
}



@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

.td {
  border: 2px solid black;
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 350px;
}

.btn{
font-weight: 0;
font-size: 14px;
color: #fff;
background: linear-gradient(90deg, #0066cce2 0%, #c500cca3 100%);
padding: 10px 31px;
border: solid #0066cc 2px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50px;
transition : 1078ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 1078ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(90deg, #0066cce2 0%, #c500cca3 100%);
color: #ffffff;
border: solid 2px #0066cc;
}


.buttonNumber {
  font-size: 20px;
  padding: 20px;
  width: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
  transition-duration: 300ms;
  border: 2px solid black;
}

.buttonNumber:hover {
  font-weight: bold;
  transform: scale(0.9);
}

.randomNumber {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.matched {
  background-color: green;
}

